<% include ../partials/header.ejs %>

<h1>Welcome <%= user.name %></h1>
<h5>Email: <%= user.email %></h5>
<h5>Date Joined: <%= user.date_created%></h5>

<h3>Reviews:</h3>
<% if (locals.reviews) { %>
  <% locals.reviews.forEach( review => { %>
    <p><%=review.review_album_title%></p>
    <p><%=review.review_date%></p>
    <p><%=review.review_content%></p>
    <button onclick="deleteReview(<%=review.review_id%>)"><i class="fa fa-trash" aria-hidden="true"></i></button>
  <% }) %>
<% } %>

<% include ../partials/footer.ejs %>